{% extends 'base.html' %}
{% load humanize %}
{% block title %}
| Costumer Dashboard
{% endblock%}
{% block content %}
{% for customer in customers %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Customer Dashboard</h1>
          <p class="lead">Your Balance is: ₹ {{ customer.balance }}</p>
          <a href="{% url 'add_money' %}" class="btn btn-primary btn">Add Money</a>
        </div>
      </div>
    </div>
  </section>  

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Customer Dashboard</li>
        </ol>
      </nav>
    </div>
  </section>
    
<!-- Alerts -->
{% include 'partials/_alerts.html' %}


  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Welcome {{ customer.username }}</h2>
          <br>
          <h3>Connect To Google</h3>
          <p>Connect Your TSS Customer Account to Google</p>
          <div class="container">
            <div class="row">
              <div class="row-md-6 mx-auto">
                <p></p>
                <a href="{% url 'socialaccount_connections' %}" class="btn btn-secondary btn">
                  <i class="fab fa-google"></i> Connect</a>
              </div>
            </div>
          </div>
          <br>
          
          <h2>Here are your past orders:-</h2>
          <table class="table">
            {% if orders %}
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Amount Paid</th>
                <th scope="col">Date Ordered</th>
                <th scope="col">Go to product</th>
                <th scope="col">Add Review</th>
                <th></th>
              </tr>
            </thead>
              {% for order in orders %}
              {% for i in order.Product.all %}
              <tbody>
                <tr>
                  <td>{{ i.title }}</td>
                  <td>₹{{ order.money | intcomma}}</td>
                  <td>{{ order.order_date }}</td>
                  <td><a class="btn btn-light" href="{% url 'product' i.id %}">View Product</a></td>
                  <td>
                    <a class="btn btn-light" href="{% url 'add_review' i.id %}">Add Review</a>
                  </td>
                </tr>
              </tbody>
              {% endfor %}
              {% endfor %}
            {% else %}
            <p>No Past orders</p>
            {% endif %}
          </table>
        </div>
      </div>
    </div>
  </section>

  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Your Address</h2>
          <h5>Address Line 1: </h5><p>{{customer.address_line_1}}</p>
          <hr>
          <h5>Address Line 2: </h5><p>{{customer.address_line_2}}</p>
          <hr>
          <h5>City: </h5><p>{{customer.city}}</p>
          <hr>
          <h5>State: </h5><p>{{customer.state}}</p>
          <hr>
        </div>
        <a href="{% url 'change_address' %}" class="btn btn-primary btn">Change Address</a>
      </div>
    </div>
  </section>
  {% endfor %}
{% endblock %}