{% extends 'base.html' %}
{% load humanize %}
{% block title %}
| Costumer Dashboard
{% endblock%}
{% block content %}
{% for customer in customers %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Customer Dashboard</h1>
          <p class="lead">Your Balance is: ₹ {{ customer.balance }}</p>
          <a href="{% url 'add_money' %}" class="btn btn-primary btn">Add Money</a>
        </div>
      </div>
    </div>
  </section>  

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Customer Dashboard</li>
        </ol>
      </nav>
    </div>
  </section>
    
<!-- Alerts -->
{% include 'partials/_alerts.html' %}

  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Welcome {{ customer.username }}</h2>
          <p>Here are your past orders</p>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Amount Paid</th>
                <th scope="col">Go to product</th>
                <th scope="col">Add Review</th>
                <th></th>
              </tr>
            </thead>
            {% if orders %}
              {% for order in orders %}
              {% for i in order.Product.all %}
              <tbody>
                <tr>
                  <td>{{ i.title }}</td>
                  <td>₹{{ order.money | intcomma}}</td>
                  <td><a class="btn btn-light" href="{% url 'product' i.id %}">View Product</a></td>
                  <td>
                    <a class="btn btn-light" href="#">Add Review</a>
                  </td>
                </tr>
              </tbody>
              {% endfor %}
              {% endfor %}
            {% else %}
            <p>No orders</p>
            {% endif %}
          </table>
        </div>
      </div>
    </div>
  </section>
  {% endfor %}
{% endblock %}