{% extends 'base.html'%}
{% load static %}
{% load humanize %}
{% block title%}
| About
{% endblock %}
{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">About The Sport Store</h1>
          <p class="lead">Your one-stop shop for top-notch sports gear</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> About</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>We Sell The Best Products</h2>
          <br>
          <img src="{% static 'imag/sports.jpg' %}" alt="">
          <p class="mt-4">Welcome to The Sports Store! We are a premier sports retailer located in the heart of the city, dedicated to 
            providing our customers with the best products in the country. Our store features an extensive collection of high-quality sports 
            equipment, apparel, and accessories for athletes of all levels. We take pride in sourcing products from the top brands in the 
            industry, including Nike, Adidas, Under Armour, and many more. Our team of knowledgeable staff is committed to helping you find 
            the perfect products to meet your needs and exceed your expectations. Whether you are an aspiring athlete or a seasoned professional,
             we are confident that you will find what you are looking for at The Sports Store. We stand behind every product we sell and are 
             committed to providing exceptional customer service. Thank you for choosing The Sports Store for all your sports needs!.</p>
        </div>
        <div class="col-md-4">
          <h2 class="card-title">Most Sold Product</h2>
          <br>
          <div class="card">
            {% for product in products %}
            <a href="{% url 'product' product.id %}">
            <img class="card-img-top" src="{{ product.photo_main.url }}" href=" {% url 'product' product.id %}" alt="Most sold product">
            </a>
            <div class="card-body">
              <a href="{% url 'product' product.id %}">        
              <h4 class="text-secondary" >{{ product.title }}</h4>
              </a>
              <h4 class="card-text">₹{{ product.price | intcomma}}
              </h5>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">The Sports Store</h2>
    <h4>Discover the finest selection of sports products at The Sports Store, where excellence meets your passion</h4>
    <hr>
    <a href="{% url 'products' %}" class="btn btn-secondary text-white btn-lg">View Our Featured Products</a>
  </section>

  <!-- Team -->
  <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Testimonials</h2>
      <br>
      <div class="row text-center">
        <div class="col-md-4">
          <h4>Mark Hudson</h4>
          <p class="text-success">Seller</p>
          <hr>
          <p>"I am extremely satisfied with my experience as a seller on The Sports Store. The platform's user-friendly interface, prompt 
            customer support, and robust marketing tools have helped me reach a wider audience and increase my sales. It's a trustworthy and 
            reliable platform that I highly recommend to all aspiring online sellers."
          </p>
        </div>
 
        <div class="col-md-4">
          <h4>Kyle Brown</h4>
          <p class="text-success">
            <i class="text-success mb-3"></i> Customerr</p>
          <hr>
          <p>"I can't express how thrilled I am with my shopping experience on The Sports Store. From the vast product selection to the 
            seamless checkout process, every aspect was exceptional. The quality of the products exceeded my expectations, and the timely 
            delivery made it even better. Highly recommend this website for all your shopping needs!"
          </p>
        </div>

        <div class="col-md-4">
          <h4>Jenny Johnson</h4>
          <p class="text-success">Customer</p>
          <hr>
          <p>"I recently made a purchase on The Sports Store and I couldn't be happier with the experience. The website is easy to 
            navigate, the checkout process was seamless, and my order arrived promptly and in perfect condition. I will definitely be shopping 
            here again and recommending it to my friends!"
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}